extends layout

block content
    div
        canvas.game#game1(width=640, height=480)
    div        
        canvas.game#game2(width=640, height=480)
    div        
        canvas.game#game3(width=640, height=480)
    div        
        canvas.game#game4(width=640, height=480)
    div        
        canvas.game#game5(width=640, height=480)
    div       
        canvas.game#game6(width=640, height=480)
    div        
        canvas.game#game7(width=640, height=480)
    div        
        canvas.game#game8(width=640, height=480)
    div        
        canvas.game#game9(width=640, height=480)

